<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Help Desk Sistem</mat-card-title>
      <mat-card-subtitle>Help desk corporation</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/logo-info.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       Olá Sejá muito bem vindo ao sistema Help Desk
       A ferramenta também oferece um sistema para gestão de tíquetes, que ajuda na organização da fila de atendimento, e a possibilidade de armazenar registros detalhados de todos os chamados administrados e resolvidos. A solução pode ser instalada no próprio servidor da empresa, e o usuário tem a possibilidade de acessar o código via Github. 
      </p>
    </mat-card-content>
  </mat-card>
  